---
import { getCollection, render } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
export async function getStaticPaths() {
  const reviews = await getCollection("reviews");

  return reviews.map((review) => ({
    params: { slug: review.id },
    props: { review },
  }));
}

const { review } = Astro.props;
const { Content } = await render(review);
---

<ArticleLayout
  title={review.data.title}
  description={review.data.description}
  image={review.data.image}
  category={review.data.category ?? "Reviews"}
>

  <p class="mt-2 text-2xl">
    ⭐ {review.data.score}/10
  </p>

  <article class="prose prose-invert mt-10 max-w-none">

    <Content />

  </article>

</ArticleLayout>