---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/hero/Hero.astro";
import TrendingAnime from "../components/sections/TrendingAnime.astro";
import LatestNews from "../components/sections/LatestNews.astro";
import PopularManhwa from "../components/sections/PopularManhwa.astro";
import FollowUs from "../components/sections/FollowUs.astro";
import MGIDWidget from "../components/ads/MGID/Widget.astro";

---

<BaseLayout
  title="Senkai World | Anime, Manhwa, News, Reviews & Rankings"
  description="Discover the latest anime news, manhwa updates, reviews, rankings, release dates, recommendations, and everything anime at Senkai World."
>

<Hero />

<TrendingAnime />

<section class="container mx-auto px-4 my-10">
  <MGIDWidget placement="homepage" />
</section>

<LatestNews />

<PopularManhwa />

<FollowUs />

</BaseLayout>